# Exercício 1
Escreva um programa que some todos os elementos de uma lista.

In [ ]:
lista = [1,2,3,4,5]

print(sum(lista));

15

#Exercício 2
Escreva um programa que multiplique todos os elementos de uma lista.

In [ ]:
lista = [1,2,3,4,5]

mult=1
for num in lista:
    mult = mult * num
    
print(mult)

120

Exercício 3
Considere a lista abaixo e escreva um programa que multiplique todos os seus elementos.

```
lista=[5,4,3,2,1]

```

In [ ]:
lista=[5,4,3,2,1]

mul = 1

for i in lista:
  mul = mul*i

print(mul)

120

# Exercício 4

Considere a lista abaixo e faça um programa que some todos os seus elementos. Tente implementar ao menos duas soluções.

```
lista=[10,2,40,50,-2,3,100,21,33,29,123,234,32,88,90,23]
```

In [ ]:
lista=[10,2,40,50,-2,3,100,21,33,29,123,234,32,88,90,23]

print(sum(lista))

total = 0
for i in lista:
  total += i

print(total)

876
876

#Exercício 5

Considere a lista abaixo e escreva um programa que mostre na tela o seu maior número.


```
lista=[497, 186, 66, 198, 204, 339, 738, 743, 
       -80, 36, 887, 645, 312, 760, 574, 439, 
       164, 873, 125, 871, 901, 561, 5, -65, 
       -66, -51, 522, 306, -79, 577, 268, 240, 
       183, 217, 729, 202, 483, 464, 281, 6, 
       -44, 110, 670, 749, 846, 903, 15, 265, 
       596, -3, 534, -42, 528, 582, 552, 254, 
       780, 326, 816, -7, 859, 234, 898, 355, 
       706, 576, 968, 349, 649, 522, 466, 353, 
       940, 41, 141, 946, 317, 346, 256, 326, 
       546, 473, 270, 22, 102, 504, 421, 87, 
       570, 143, 519, 292, 382, 744, 525, 658, 
       725, 477, 413]
```

In [ ]:
lista=[497, 186, 66, 198, 204, 339, 738, 743, 
       -80, 36, 887, 645, 312, 760, 574, 439, 
       164, 873, 125, 871, 901, 561, 5, -65, 
       -66, -51, 522, 306, -79, 577, 268, 240, 
       183, 217, 729, 202, 483, 464, 281, 6, 
       -44, 110, 670, 749, 846, 903, 15, 265, 
       596, -3, 534, -42, 528, 582, 552, 254, 
       780, 326, 816, -7, 859, 234, 898, 355, 
       706, 576, 968, 349, 649, 522, 466, 353, 
       940, 41, 141, 946, 317, 346, 256, 326, 
       546, 473, 270, 22, 102, 504, 421, 87, 
       570, 143, 519, 292, 382, 744, 525, 658, 
       725, 477, 413]

def checar_max(items):
    max=items[0]
    for i in items:
        if i>max:
          max=i
    return max
 
checar_max(lista)

968

# Exercício 6

Considere a lista abaixo e escreva um programa que mostre na tela o seu menor número.

```
lista=[497, 186, 66, 198, 204, 339, 738, 743, 
       -80, 36, 887, 645, 312, 760, 574, 439, 
       164, 873, 125, 871, 901, 561, 5, -65, 
       -66, -51, 522, 306, -79, 577, 268, 240, 
       183, 217, 729, 202, 483, 464, 281, 6, 
       -44, 110, 670, 749, 846, 903, 15, 265, 
       596, -3, 534, -42, 528, 582, 552, 254, 
       780, 326, 816, -7, 859, 234, 898, 355, 
       706, 576, 968, 349, 649, 522, 466, 353, 
       940, 41, 141, 946, 317, 346, 256, 326, 
       546, 473, 270, 22, 102, 504, 421, 87, 
       570, 143, 519, 292, 382, 744, 525, 658, 
       725, 477, 413]
```

In [ ]:
lista=[497, 186, 66, 198, 204, 339, 738, 743, 
       -80, 36, 887, 645, 312, 760, 574, 439, 
       164, 873, 125, 871, 901, 561, 5, -65, 
       -66, -51, 522, 306, -79, 577, 268, 240, 
       183, 217, 729, 202, 483, 464, 281, 6, 
       -44, 110, 670, 749, 846, 903, 15, 265, 
       596, -3, 534, -42, 528, 582, 552, 254, 
       780, 326, 816, -7, 859, 234, 898, 355, 
       706, 576, 968, 349, 649, 522, 466, 353, 
       940, 41, 141, 946, 317, 346, 256, 326, 
       546, 473, 270, 22, 102, 504, 421, 87, 
       570, 143, 519, 292, 382, 744, 525, 658, 
       725, 477, 413]
       
min(lista)

-80

#Exercício 7

Ordene os elementos das listas a seguir em ordem crescente e decrescente.


```
a)

lista1=[117, 1519, 1335, 1600, 1676, 1491, 868, 
        1149, 642, 1321, 509, 1296, 1936, 1014, 
        1114, 1197, 94, 1347, 1112, 1224, 351, 
        1498, 1028, 255, 937, 514, 1041, 1923, 
        913, 510, 868, 1195, 1218, 1489, 1920, 
        630, 666, 605, 515, 1219, 59, 1217, 1293, 
        487, 1095, 1730, 1115, 1465, 1506, 1881]
b)

lista2=['a','a','z','f',
        'h','i','m','u',
        'q','r','b','d',
       ]
```

In [ ]:
lista1=[117, 1519, 1335, 1600, 1676, 1491, 868, 
        1149, 642, 1321, 509, 1296, 1936, 1014, 
        1114, 1197, 94, 1347, 1112, 1224, 351, 
        1498, 1028, 255, 937, 514, 1041, 1923, 
        913, 510, 868, 1195, 1218, 1489, 1920, 
        630, 666, 605, 515, 1219, 59, 1217, 1293, 
        487, 1095, 1730, 1115, 1465, 1506, 1881]

sorted(lista1)
sorted(lista1, reverse=True)


lista2=['a','a','z','f',
        'h','i','m','u',
        'q','r','b','d',
       ]

print(sorted(lista2))
print(sorted(lista2, reverse=True))

['a', 'a', 'b', 'd', 'f', 'h', 'i', 'm', 'q', 'r', 'u', 'z']
['z', 'u', 'r', 'q', 'm', 'i', 'h', 'f', 'd', 'b', 'a', 'a']

# Exercício 8
Considere a lista abaixo. Escreva um programa que obtenha uma lista ordenada a partir da lista1. A ordenação deverá ser efetuada em ordem crescente pelo último elemento de cada tupla.




```
lista1=[('a',21,10),('q',44,99),
       ('z',321,11),('w',91,33),
       ('f',33,-9),('h',88,42),
       ('j',-100,1),('n',74,93),
       ('k',11,7),('m',923,-10),
       ('l',2,23),('v',612,57),
       ('j',130,51),('x',40,88),
       ('b',99,67),('u',30,49),
       ('e',-120,-4),('i',40,21),
      ]

```

In [ ]:
lista1=[('a',21,10),('q',44,99),
       ('z',321,11),('w',91,33),
       ('f',33,-9),('h',88,42),
       ('j',-100,1),('n',74,93),
       ('k',11,7),('m',923,-10),
       ('l',2,23),('v',612,57),
       ('j',130,51),('x',40,88),
       ('b',99,67),('u',30,49),
       ('e',-120,-4),('i',40,21),
      ]

sorted(lista1, key=lambda valor:valor[2])

[('m', 923, -10),
 ('f', 33, -9),
 ('e', -120, -4),
 ('j', -100, 1),
 ('k', 11, 7),
 ('a', 21, 10),
 ('z', 321, 11),
 ('i', 40, 21),
 ('l', 2, 23),
 ('w', 91, 33),
 ('h', 88, 42),
 ('u', 30, 49),
 ('j', 130, 51),
 ('v', 612, 57),
 ('b', 99, 67),
 ('x', 40, 88),
 ('n', 74, 93),
 ('q', 44, 99)]

# Exercício 9

A partir da lista abaixo calcule e mostre na tela:

Maior número;

Menor número;

Soma de todos os elementos da lista;

Quantidade de elementos da lista;

Média aritmética;

Moda (considere a possibilidade de uma amostra multimodal - ou seja, quando há várias modas);

Mediana;

Variância;

Desvio padrão.

```
lista=[-1505, 2518, 2333, 4682, -1740, 1067, 995,22,
       -1153, -4098, 4560, 2958, 3640, -4154, 2345,4, 
       -1601, 158, -4044, -98, 707, 359, -3088, 527, 
       -3004, -4045, 563, -4137, 4598, -3862, 488, -1, 
       3445, 3820, 504, -1475, 1626, -1252, 2059, 16, 
       -1472, 2610, -4643, 2912, -2517, -4604, -1476, 
       3950, -4640, -229, 229, -3452, 4309, 2356, 66, 
       3728, -1846, -635, -3581, 4457, -2592, -1066, 
       -1006, -164, 805, -4500, -455, 2245, -4959, 
       -2415, 2038, 4512, 1243, 349, -1153, 3623, 631, 
       2209, -3349, -2417, 4429, -1324, -4101, -1354, 
       4400, -4968, -4433, 2042, 904, 932, 1331, 4955, 
       -3775, -333, 1012, 2192, -161, -224, 1505, -1615, 
       -2165, 3666, -4253, -358, -3939, -2641, 1228, 
       -608, -2280, 4939, -3355, 1340, -57, 3346, 2686, 
       -1572, 1991, -2351, -3972, -1683, -1509, -2488, 
       266, -2991, -795, -4032, 2397, 2391, 3654, -1044, 
       -2204, -2440, -1280, 2714, -4151, -1951, 3684, 
       -4251, 3748, -4359, -1436, -2190, 4538, -3563, 
       1542, 1926, -3940, -2274, -4223, 2504, -4112, 2388,
]
O resultado do programa deve ser igual ao output a seguir.



Maior número: 4955
Menor número: -4968
Soma de todos os elementos da lista: -38259
Quantidade de elementos da lista: 155
Média aritmética: -246.83
Moda: [2, -1153, 4]
Mediana: -161
Variância: 7629024.95
Desvio padrão: 2762.07
```

In [ ]:
import statistics 

lista=[-1505, 2518, 2333, 4682, -1740, 1067, 995,22,
       -1153, -4098, 4560, 2958, 3640, -4154, 2345,4, 
       -1601, 158, -4044, -98, 707, 359, -3088, 527, 
       -3004, -4045, 563, -4137, 4598, -3862, 488, -1, 
       3445, 3820, 504, -1475, 1626, -1252, 2059, 16, 
       -1472, 2610, -4643, 2912, -2517, -4604, -1476, 
       3950, -4640, -229, 229, -3452, 4309, 2356, 66, 
       3728, -1846, -635, -3581, 4457, -2592, -1066, 
       -1006, -164, 805, -4500, -455, 2245, -4959, 
       -2415, 2038, 4512, 1243, 349, -1153, 3623, 631, 
       2209, -3349, -2417, 4429, -1324, -4101, -1354, 
       4400, -4968, -4433, 2042, 904, 932, 1331, 4955, 
       -3775, -333, 1012, 2192, -161, -224, 1505, -1615, 
       -2165, 3666, -4253, -358, -3939, -2641, 1228, 
       -608, -2280, 4939, -3355, 1340, -57, 3346, 2686, 
       -1572, 1991, -2351, -3972, -1683, -1509, -2488, 
       266, -2991, -795, -4032, 2397, 2391, 3654, -1044, 
       -2204, -2440, -1280, 2714, -4151, -1951, 3684, 
       -4251, 3748, -4359, -1436, -2190, 4538, -3563, 
       1542, 1926, -3940, -2274, -4223, 2504, -4112, 2388,
]


print(max(lista));
print(min(lista));
print(sum(lista));
print(len(lista));
print(statistics.mean(lista))
print(statistics.mode(lista));
print(statistics.median(lista));
print(statistics.pvariance(lista));
print(statistics.stdev(lista));

4955
-4968
-38267
152
-251.7565789473684
-1153
-194.0
7728153.973640928
2789.1457117334216

```
Maior número: 4955
Menor número: -4968
Soma de todos os elementos da lista: -38259
Quantidade de elementos da lista: 155
Média aritmética: -246.83
Moda: [2, -1153, 4]
Mediana: -161
Variância: 7629024.95
Desvio padrão: 2762.07
```

# Exercício 10

Considere a lista a seguir e escreva um programa para remover os elementos duplicados.


```
lista=[
    'a','a','a',
    'b','c','k',
    'a',1,2,3,4,
    'j','l','m',
]
```

In [ ]:
lista=[
    'a','a','a',
    'b','c','k',
    'a',1,2,3,4,
    'j','l','m',
]

# usando for
for i in lista:
  num_count = lista.count(i)
  if num_count > 1:
    lista.remove(i)

print(lista)

# usando função set
lista=list(set(lista))
print(lista)

['b', 'c', 'k', 'a', 1, 2, 3, 4, 'j', 'l', 'm']

In [ ]:
lista=[
    'a','a','a',
    'b','c','k',
    'a',1,2,3,4,
    'j','l','m',
]

[1, 2, 3, 4, 'm', 'c', 'l', 'b', 'a', 'j', 'k']

# Exercício 11
Utilize a função range() e escreva uma lista com uma série de 1950 a 2020. Sua lista deve ter o formato a seguir:


```
serie=[1951, 1952, 1953, 1954, 1955, 
       1956, 1957, 1958, 1959, 1960, 
       1961, 1962, 1963, 1964, 1965, 
       1966, 1967, 1968, 1969, 1970, 
       1971, 1972, 1973, 1974, 1975, 
       1976, 1977, 1978, 1979, 1980, 
       1981, 1982, 1983, 1984, 1985, 
       1986, 1987, 1988, 1989, 1990, 
       1991, 1992, 1993, 1994, 1995, 
       1996, 1997, 1998, 1999, 2000, 
       2001, 2002, 2003, 2004, 2005, 
       2006, 2007, 2008, 2009, 2010, 
       2011, 2012, 2013, 2014, 2015, 
       2016, 2017, 2018, 2019, 2020]
```

In [ ]:
serie=[1951, 1952, 1953, 1954, 1955, 
       1956, 1957, 1958, 1959, 1960, 
       1961, 1962, 1963, 1964, 1965, 
       1966, 1967, 1968, 1969, 1970, 
       1971, 1972, 1973, 1974, 1975, 
       1976, 1977, 1978, 1979, 1980, 
       1981, 1982, 1983, 1984, 1985, 
       1986, 1987, 1988, 1989, 1990, 
       1991, 1992, 1993, 1994, 1995, 
       1996, 1997, 1998, 1999, 2000, 
       2001, 2002, 2003, 2004, 2005, 
       2006, 2007, 2008, 2009, 2010, 
       2011, 2012, 2013, 2014, 2015, 
       2016, 2017, 2018, 2019, 2020]

series=list(range(1951,2021))
print(series)

# Exercício 12

Considere a lista a seguir, que apresenta dados referentes a série temporal de 1900 a 2020. Faça o que se pede:

```
lista_anos=[1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 
            1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 
            1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 
            1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 
            1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939,
            1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 
            1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 
            1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 
            1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 
            1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 
            1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 
            1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 
            1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 
            2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
            2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
            2020]

```

a) Crie uma lista  que armazene os 20 primeiros anos da série;

b) Crie uma lista que armazene os anos de 1937 a 1969;

c) Crie uma lista que armazene os anos de 2010 a 2020;

d) Crie uma lista que armazene o último ano da série;

e) Apresente a série temporal de 10 em 10 anos.

In [ ]:
lista_anos=[1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 
            1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 
            1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 
            1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 
            1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939,
            1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 
            1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 
            1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 
            1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 
            1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 
            1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 
            1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 
            1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 
            2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
            2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
            2020]

_prim_20_anos = []

_anos_1937_1969 = []

_anos_2010_2020 = []

_ultimo_ano = []

_dez_em_dez = []

#for

"""
for i in lista_anos:
  if i <= lista_anos[20] and i >= lista_anos[0]:
    _prim_20_anos.append(i)
  if i <= 1969 and i >= 1937:
    _anos_1937_1969.append(i)
  if i <= 2020 and i >= 2010:
    _anos_2010_2020.append(i)
  if i == lista_anos[-1]:
    _ultimo_ano.append(i)
  for j in range(0,len(lista_anos),10):
    _dez_em_dez.append(lista_anos[j])
"""

#slice
_prim_20_anos = lista_anos[0:21];

print(_prim_20_anos)

_anos_1937_1969 = lista_anos[37:70];

print(_anos_1937_1969)

_anos_2010_2020 = lista_anos[110:];

print(_anos_2010_2020)

_ultimo_ano = lista_anos[-1];

print(_ultimo_ano)

_dez_em_dez = lista_anos[::10];

print(_dez_em_dez)

[1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920]
[1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969]
[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
2020
[1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020]

# Exercício 13
A partir da lista abaixo obtenha apenas a string "Python".


```
lista=[
    'a','b','c',([
        [[[[['a'],[-90,33,33,['Python']],[0,1,2]],[4,4]],[],'u'],[]]
    ]),{'a':1,'c':2},3
]
```

In [ ]:
lista=[
    'a','b','c',([
        [[[[['a'],[-90,33,33,['Python']],[0,1,2]],[4,4]],[],'u'],[]]
    ]),{'a':1,'c':2},3
]

lista[3][0][0][0][0][1][3]

['Python']

# Exercício 14

Verifique se uma lista é vazia ou não. Caso a lista seja vazia, mostre True na tela, caso contrário False.

In [ ]:
lista=[
    'a','b','c',([
        [[[[['a'],[-90,33,33,['Python']],[0,1,2]],[4,4]],[],'u'],[]]
    ]),{'a':1,'c':2},3
]

if len(lista) < 1:
  print(False)
else:
  print(True)

False

# Exercício 15

Crie uma tupla com um único elemento e verifique o objeto criado com a função type.

In [ ]:
lista = tuple([15])

type(lista)

# Exercício 16
Considere a tupla1 e responda as seguintes questões:

```
tupla1=('A','B','A','Z','Z','X','A','E','K','G','H')
```



a) mostre na tela o tamanho desta tupla;

b) ordene a tupla e mostre o resultado na tela;

c) mostre na tela o número de ocorrências da string 'A';

d) mostre na tela o número de ocorrências da string 'B';

e) mostre na tela o índice da string 'X';

f) mostre na tela o último elemento da tupla1.

In [ ]:
tupla1=('A','B','A','Z','Z','X','A','E','K','G','H')


len(tupla1)
sorted(tupla1)
tupla1.count('A')
tupla1.count('B')
tupla1.index('X')
tupla1[-1]

'H'

# Exercício 17

Mude a chave 'valor' do dicionário produto1 para 99.98.


```
produto1={
    'nome':'produto1',
    'tipo':'categoriaA',
    'valor':'50.5',
    'fornecedor':'ABCD',
}

```

In [ ]:
produto1={
    'nome':'produto1',
    'tipo':'categoriaA',
    'valor':'50.5',
    'fornecedor':'ABCD',
}

produto1['valor'] = 99.98

print(produto1)

{'nome': 'produto1', 'tipo': 'categoriaA', 'valor': 99.98, 'fornecedor': 'ABCD'}

#18.1 

Crie um script para iterar no dicionário abaixo e mostrar na tela todas as suas chaves, uma a uma.


```
produto1={
    'nome':'produto1',
    'tipo':'categoriaA',
    'valor':'50.5',
    'fornecedor':'ABCD',
}


Output:

nome
tipo
valor
fornecedor
```

#18.2

Crie um script para iterar no dicionário produto1 e mostrar na tela todos os seus valores, um a um.
```
Output:



produto1
categoriaA
50.5
ABCD
```

#18.3 

Crie um script para iterar no dicionário produto1 e mostrar chave,valor na tela.
```
Output:



nome produto1
tipo categoriaA
valor 50.5
fornecedor ABCD
Dica: utilize o método items().
```

In [ ]:
produto1={
    'nome':'produto1',
    'tipo':'categoriaA',
    'valor':'50.5',
    'fornecedor':'ABCD',
}

for i in produto1:
  print(i)

for i in produto1:
  print(produto1[i])

for i in produto1:
  print(i,produto1[i])

for chave,valor in produto1.items():
    print(chave,valor)

nome
tipo
valor
fornecedor
produto1
categoriaA
50.5
ABCD
nome produto1
tipo categoriaA
valor 50.5
fornecedor ABCD
nome produto1
tipo categoriaA
valor 50.5
fornecedor ABCD