# Exercício 1

Nos exercícios anteriores utilizamos compreensão de listas para construir listas de uma forma rápida e 'pythônica' utilizando uma notação simples. Os dicionários também suportam a mesma operação, possibilitando uma construção simples e compacta combinando loops e estruturas condicionais. Nestes termos, podemos aplicar esse conceito para criar DataFrames com pandas, uma aplicação muito comum em Data Science.

Sendo assim, utilize compreensão de dicionários para construir os dicionários abaixo.

a) Crie um dicionário em que suas chaves serão os números 1, 4, 5, 6, 7, 9 (que podem ser armazenados em uma lista) e seus valores correspondem ao quadrado destes números.

```
{1: 1, 4: 16, 5: 25, 6: 36, 7: 49, 9: 81}

```
b) Crie um dicionário em que suas chaves correspondem a números inteiros entre [1,10] e cada valor associado é o número ao quadrado.

```
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
```

c) Crie um dicionário em que suas chaves correspondem a números de 10 a 1 e seus respectivos valores denotam o cubo de cada chave.


```
{10: 1000, 9: 729, 8: 512, 7: 343, 6: 216, 5: 125, 4: 64, 3: 27, 2: 8, 1: 1}
```

In [19]:
dicio = {num: num**2 for num in [1, 4, 5, 6, 7, 9]}
print(dicio)

dicio2 = {num: num**2 for num in range(1,11)}
print(dicio2)

dicio3 = {num: num**3 for num in range(10,0,-1)}
print(dicio3)

{1: 1, 4: 16, 5: 25, 6: 36, 7: 49, 9: 81}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{10: 1000, 9: 729, 8: 512, 7: 343, 6: 216, 5: 125, 4: 64, 3: 27, 2: 8, 1: 1}

# Exercício 2
A partir da lista

```
linguagens = ['python', 'javascript', 'java', 'php', 'c', 'julia']
```

Use Dict Comprehension para construir o dicionário abaixo:   


```
{'python': 6, 'javascript': 10, 'java': 4, 'php': 3, 'c': 1, 'julia': 5}
```

Dica: observe que o valor associado a cada chave corresponde ao tamanho de cada string.

In [22]:
linguagens = ['python', 'javascript', 'java', 'php', 'c', 'julia']

dicio = {elem: len(elem) for elem in linguagens}
print(dicio)

{'python': 6, 'javascript': 10, 'java': 4, 'php': 3, 'c': 1, 'julia': 5}

# Exercício 3

A partir da lista

```
frutas = ['  Banana  ', ' Laranja   ', '  Maçã', ' Melão ']
```

Use Dict Comprehension para construir o dicionário abaixo:

```
{'1': 'Banana', '2': 'Laranja', '3': 'Maçã', '4': 'Melão'}
```

In [58]:
frutas = ['  Banana  ', ' Laranja   ', '  Maçã', ' Melão ']

dicio = {str(i):fruta.strip() for i,fruta in enumerate(frutas, start=1)}
print(dicio)

{'1': 'Banana', '2': 'Laranja', '3': 'Maçã', '4': 'Melão'}

# Exercício 4

Utilize compreensão de dicionários para construir o dicionário abaixo.


```
{'chave1': 1, 'chave2': 4, 'chave3': 9, 'chave4': 16, 'chave5': 25, 'chave6': 36, 'chave7': 49, 'chave8': 64, 'chave9': 81}
```

In [71]:
dicio = {f'chave {str(i)}':valor**2 for i,valor in enumerate(range(1,10),start=1)}
print(dicio)

{'chave 1': 1, 'chave 2': 4, 'chave 3': 9, 'chave 4': 16, 'chave 5': 25, 'chave 6': 36, 'chave 7': 49, 'chave 8': 64, 'chave 9': 81}

# Exercício 5

Utilize compreensão de dicionários para construir o dicionário abaixo.

```
{'A': 1, 'B': 2, 'C': 6, 'D': 24, 'E': 120}
```

Dica: observe que o valor associado a cada chave corresponde ao fatorial de cada número no intervalo [1,5].

In [76]:
import math

dicio = {chr(64+chave):math.factorial(elem) for chave,elem in enumerate(range(1,6),start=1)}
print(dicio)

{'A': 1, 'B': 2, 'C': 6, 'D': 24, 'E': 120}

# Exercício 6

A partir das listas

```
empresa = ['ABEV3', 'AZUL4', 'BTOW3', 'RENT3', 'JBSS3']
precos = [12.85, 22.55, 115.08, 49.03, 24.41] 
```

Utilize compreensão de dicionários e obtenha:

```
{'ABEV3': 12.85, 'AZUL4': 22.55, 'BTOW3': 115.08, 'RENT3': 49.03, 'JBSS3': 24.41}
```

In [81]:
empresa = ['ABEV3', 'AZUL4', 'BTOW3', 'RENT3', 'JBSS3']
precos = [12.85, 22.55, 115.08, 49.03, 24.41] 

dicio = {empresa:precos for empresa,precos in zip(empresa,precos)}
print(dicio)

{'ABEV3': 12.85, 'AZUL4': 22.55, 'BTOW3': 115.08, 'RENT3': 49.03, 'JBSS3': 24.41}

# Exercício 7

Do dicionário abaixo:

```
dados = {12.85: 'ABEV3', 22.55: 'AZUL4', 115.08: 'BTOW3', 49.03: 'RENT3', 24.41: 'JBSS3'}
```

Utilize compreensão de dicionários e obtenha:

```
{'ABEV3': 12.85, 'AZUL4': 22.55, 'BTOW3': 115.08, 'RENT3': 49.03, 'JBSS3': 24.41}
```

In [90]:
dados = {12.85: 'ABEV3', 22.55: 'AZUL4', 115.08: 'BTOW3', 49.03: 'RENT3', 24.41: 'JBSS3'}

dicio = {valor:chave for chave,valor in dados.items()}
print(dicio)

{'ABEV3': 12.85, 'AZUL4': 22.55, 'BTOW3': 115.08, 'RENT3': 49.03, 'JBSS3': 24.41}

#Exercício 8


Use compreensão de dicionários e obtenha os dicionários a seguir:

```
a)

{2: 1.0, 4: 2.0, 6: 2.585, 8: 3.0, 10: 3.322, 12: 3.585, 14: 3.807, 16: 4.0, 18: 4.17, 20: 4.322}
```

Dica: este dicionário calcula o logaritmo de base 2 para todos os números pares no intervalo [1,20].


```
b)

{'C': 3, 'E': 5, 'F': 6, 'I': 9, 'J': 10, 'L': 12, 'O': 15, 'R': 18, 'T': 20}
```

In [110]:
import math 

dicio = {(chave*2):round(math.log(valor,2),3) for chave,valor in enumerate(range(2,21,2),start=1)}
print(dicio)

dicio2 = {num:round(math.log(num,2),3) for num in range(2,21,2)}
print(dicio2)

dicio3 = {chr(64+num):num for num in range(3,21) if num%3==0 or num%5==0}
print(dicio3)

{2: 1.0, 4: 2.0, 6: 2.585, 8: 3.0, 10: 3.322, 12: 3.585, 14: 3.807, 16: 4.0, 18: 4.17, 20: 4.322}
{2: 1.0, 4: 2.0, 6: 2.585, 8: 3.0, 10: 3.322, 12: 3.585, 14: 3.807, 16: 4.0, 18: 4.17, 20: 4.322}
{'C': 3, 'E': 5, 'F': 6, 'I': 9, 'J': 10, 'L': 12, 'O': 15, 'R': 18, 'T': 20}

# Exercício 9

a) Use compreensão de dicionários para extrair os produtos com preço superior a dois mil reais.

```
produtos = {
    'geladeira':1619.1,
    'ps5':4999,
    'liquidificador':89.9,
    'notebook':3500,
    'TV':1500,
    'ventilador':79.99,
    'microondas':399.99
    }
```

b) Considerando que cada valor deste dicionário representa o preço de cada produto, obtenha o custo total desta cesta de produtos.

In [122]:
produtos = {
    'geladeira':1619.1,
    'ps5':4999,
    'liquidificador':89.9,
    'notebook':3500,
    'TV':1500,
    'ventilador':79.99,
    'microondas':399.99
    }

dicio = {chave:valor for chave,valor in produtos.items() if valor > 2000}


total_soma = sum({valor for chave,valor in produtos.items()})
print(total_soma)

12187.98