# Exercício 1

Escreva um programa que mostre de 1 até 50 na tela.

In [ ]:
for n in range(1,51):
  print(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

# Exercício 2

Escreva um programa que mostre de 50 até 1 na tela.

In [ ]:
for j in range(50,0,-1):
  print(j)

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

# Exercício 3

Escreva um programa que mostre de 150 até 200 na tela.

In [ ]:
for n in range(150,201):
  print(n)

150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200

# Exercício 4

Escreva um programa de contagem regressiva, ou seja, imprima na tela o seguinte padrão numérico:

```
5
4
3
2
1
0
```

In [ ]:
for n in range(5,-1,-1):
  print(n)

5
4
3
2
1
0

# Exercício 5

Faça um programa que imprima na tela de 1 até um número digitado pelo usuário.

In [ ]:
num = int(input('Digite um número: '))

for n in range(1,num+1):
  print(n)

Digite um número: 12
1
2
3
4
5
6
7
8
9
10
11
12

# Exercício 6

Escreva um programa que mostre na tela os 20 primeiros múltiplos de 5.

In [ ]:
for n in range(1,21):
  print(n*5)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

# Exercício 7

Utilizando estruturas de repetição escreva um programa que mostre os resultados da tabuada (multiplicação) de um número inserido pelo usuário.

In [ ]:
n = float(input('Digite um número: '))
for i in (range(1,11)):
  print(f'{i} x {n} = {i*n}')

Digite um número: 5
1 x 5.0 = 5.0
2 x 5.0 = 10.0
3 x 5.0 = 15.0
4 x 5.0 = 20.0
5 x 5.0 = 25.0
6 x 5.0 = 30.0
7 x 5.0 = 35.0
8 x 5.0 = 40.0
9 x 5.0 = 45.0
10 x 5.0 = 50.0

# Exercício 8

Utilizando estruturas de repetição escreva um programa que mostre os resultados da tabuada de multiplicação dos números entre 1 e 10, como segue.

```
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
```

In [ ]:
for n in range(1,11):
  for j in range(1,11):
    print(f'{n} x {j} = {n*j}')
  print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# Exercício 9

Em um único loop escreva um programa que mostre na tela de 1 a 10 três vezes e ao final mostre a mensagem Fim . No primeiro loop utilize for e nos dois loops seguintes while. O resultado do seu programa deverá ter o seguinte formato:

```
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
Fim
```

In [ ]:
for i in (range(1,4)):
  contador = 0
  while (contador<=9):
    print(f'{contador+1}')
    contador += 1
print('Fim')

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
Fim

# Exercício 10

Escreva um programa que peça ao usuário números entre 0-10. Se o usuário inserir um número fora desse intervalo o programa deverá finalizar com uma mensagem personalizada.

In [ ]:
def typeANumber(n):
  if n < 0 or n > 10:
    print('O número digitado está fora do intervalo solicitado!')
    typeANumber(float(input('Digite um número entre 0 e 10: ')))
  else: 
      print(f'O número digitado foi {n}')

typeANumber(float(input('Digite um número entre 0 e 10: ')))

Digite um número entre 0 e 10: 5
O número digitado foi 5.0

# Exercício 11

Em um único loop escreva um programa que mostre na tela de 0-5, cinco vezes e ao final mostre a mensagem Fim . Utilize apenas for em sua implementação. Seu programa deverá gerar um output com o seguinte formato:

```
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
Fim
```

In [ ]:
for i in range(0,5):
  for j in range (0,6):
    print(j)
print('Fim')

0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
Fim

# Exercício 12

Escreva um programa que peça números reais (float) do usuário indefinidamente . Caso os números digitados não estejam situados entre 0 e 10 o programa deverá ser finalizado, mostrando a soma e a quantidade de números digitados.

In [ ]:
# usando for
numList = []

num = float(input('Digite um número qualquer: '))
numList.append(num)

for i in numList:
  if (num>=0 and num<=10):
      num = float(input('Digite um número qualquer: '))
      numList.append(num)

print(f'A soma total dos números é {sum(numList)}. A quantidade de números digitados é {len(numList)}.')

Digite um número qualquer: 10
Digite um número qualquer: 11
A soma total dos números é 21.0. A quantidade de números digitados é 2.

In [ ]:
# usando While

numList = []
num = True
while (num>=0 and num<=10):
    num = float(input('Digite um número qualquer: '))
    numList.append(num)

print(f'A soma total dos números é {sum(numList)}. A quantidade de números digitados é {len(numList)}.')

Digite um número qualquer: 2
Digite um número qualquer: 3
Digite um número qualquer: 11
A soma total dos números é 16.0. A quantidade de números digitados é 3.

Escreva um programa que peça números reais (float) do usuário indefinidamente . Caso os números digitados não estejam situados entre 0 e 10 o programa deverá ser finalizado, mostrando a soma e a quantidade de números digitados.

In [ ]:
lista = list()

def digitaNum(num):
  if num >= 0 and num <= 10:
      lista.append(num)
      digitaNum(float(input('Digite um número: ')))
  else:
      lista.append(num)

digitaNum(float(input('Digite um número: ')))

print(f'A soma total dos números é {sum(lista)}. A quantidade de números digitados é {len(lista)}.')

Digite um número: 2
Digite um número: 3
Digite um número: 11
A soma total dos números é 16.0. A quantidade de números digitados é 3.

# Exercício 13

Escreva um programa que peça ao usuário 20 números reais e ao final mostre a soma e a média dos números digitados.

In [ ]:
num = list()

for i in range(1,21):
  n = float(input(f'Digite o {i}º número: '))
  num.append(n)

print(f'A soma total dos números digitados é: {sum(num)}. A média dos números digitados é: {sum(num)/len(num)}')

Digite o 1º número: 2
Digite o 2º número: 2
Digite o 3º número: 2
Digite o 4º número: 2
Digite o 5º número: 2
Digite o 6º número: 2
Digite o 7º número: 2
Digite o 8º número: 2
Digite o 9º número: 2
Digite o 10º número: 2
Digite o 11º número: 2
Digite o 12º número: 2
Digite o 13º número: 2
Digite o 14º número: 22
Digite o 15º número: 2
Digite o 16º número: 2
Digite o 17º número: 2
Digite o 18º número: 2
Digite o 19º número: 2
Digite o 20º número: 2
A soma total dos números digitados é: 60.0. A média dos números digitados é: 3.0

# Exercício 14

Elabore um programa que calcule e mostre na tela os números pares entre 1 e 200. Os números devem ser mostrados na tela de acordo com o formato a seguir:

```
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200
```

In [ ]:
for i in range(2,201,2):
  print(i,end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200

# Exercício 16

Escreva um programa que peça um número inteiro do usuário e mostre na tela o fatorial deste número.

In [ ]:
num = float(input('Digite um número: '))

i=2
fat=1
while (i<=num):
  fat = fat*i
  i = i+1

print(fat)

Digite um número: 5
120

# Exercício 17

Escreva um programa que peça números inteiros positivos indefinidamente e armazene-os em uma lista. O programa deverá ser encerrado caso o número digitado seja negativo ou nulo. Ao final mostre na tela a quantidade números pares e ímpares.

In [ ]:
# Utilizando while

lista = list()

n = int(input('Digite um número inteiro: '))
lista.append(n)

i=1
while (i>0):
  if n>0:
    n = int(input('Digite um número inteiro: '))
    lista.append(n)
  else:
    i=-1

print(lista)

Digite um número inteiro: -1
[-1]

In [ ]:
# Utilizando for

lista = list()

n = int(input('Digite um número inteiro: '))
lista.append(n)

if n>0:  
  for i in lista:
    if n>0:
      n = int(input('Digite um número inteiro: '))
      lista.append(n)
    else:
      i=-1

print(lista)

Digite um número inteiro: 1
Digite um número inteiro: 2
Digite um número inteiro: 3
Digite um número inteiro: 4
Digite um número inteiro: 5
Digite um número inteiro: 0
[1, 2, 3, 4, 5, 0]

# Exercício 18

Elabore um programa que embaralhe a lista a seguir e mostre na tela cada elemento.

```
lista=['A','B','C','D','E','F','G','H','I','J','K','L','M'] 

O output do programa pode seguir o padrão abaixo:

A
C
B
K
J
F
M
D
H
G
L
I
E
```

In [ ]:
import random

lista=['A','B','C','D','E','F','G','H','I','J','K','L','M'] 
random.shuffle(lista)

for c,v in enumerate(lista):
  print(v)

K
C
F
B
H
M
L
D
I
J
A
G
E

# Exercício 19

Peça 5 números do usuário e mostre na tela a média dos números digitados.

In [ ]:
lista = list()

for n in range(0,5):
  lista.append(float(input('Digite um número: ')))

print(sum(lista)/len(lista))

Digite um número: 1
Digite um número: 2
Digite um número: 3
Digite um número: 4
Digite um número: 5
3.0

# Exercício 20

Considere a lista de produtos abaixo e implemente duas soluções para somar o valor total deste carrinho de compras.

Dica: utilize List comprehension e/ou  loop for.

```
lista_compras=[
    {'nome':'feijão','preco':9.79},
    {'nome':'arroz','preco':3.45},
    {'nome':'carne','preco':20.93},
    {'nome':'macarrão','preco':2.99},
    {'nome':'vinagre','preco':2.25},
    {'nome':'pimenta','preco':1.27},
    {'nome':'batata','preco':5.67},
    {'nome':'leite','preco':12},
    {'nome':'manteiga','preco':7.99},
    {'nome':'margarina','preco':2.5},
    {'nome':'cenoura','preco':3.55},
    {'nome':'sabão','preco':4.79},
    {'nome':'chá','preco':3.45},
    {'nome':'morango','preco':17.8},
    {'nome':'soja','preco':20.2},
    {'nome':'goiaba','preco':3.45},
    {'nome':'melão','preco':5.12},
]
```

In [ ]:
lista_compras=[
    {'nome':'feijão','preco':9.79},
    {'nome':'arroz','preco':3.45},
    {'nome':'carne','preco':20.93},
    {'nome':'macarrão','preco':2.99},
    {'nome':'vinagre','preco':2.25},
    {'nome':'pimenta','preco':1.27},
    {'nome':'batata','preco':5.67},
    {'nome':'leite','preco':12},
    {'nome':'manteiga','preco':7.99},
    {'nome':'margarina','preco':2.5},
    {'nome':'cenoura','preco':3.55},
    {'nome':'sabão','preco':4.79},
    {'nome':'chá','preco':3.45},
    {'nome':'morango','preco':17.8},
    {'nome':'soja','preco':20.2},
    {'nome':'goiaba','preco':3.45},
    {'nome':'melão','preco':5.12},
]


# List Comprehensions

def soma(x):
  resultado = 0 
  soma = x
  resultado += soma
  return resultado

total = [soma(n['preco']) for n in lista_compras]
print(f'O valor total do preço é: {round(sum(total),15)}')

# Loop for
result = 0
for n in lista_compras:
  soma = n['preco']
  result += soma

print(f'O valor total do preço é: {round(result,2)}')

O valor total do preço é: 127.20000000000002
O valor total do preço é: 127.2

# Exercício 21

Considere a lista de produtos abaixo e implemente um programa que calcule e mostre na tela (nome e preço) o produto mais caro e o produto mais barato, desta cesta de bens.

```
lista_compras=[
    {'nome':'feijão','preco':9.79},
    {'nome':'arroz','preco':3.45},
    {'nome':'carne','preco':20.93},
    {'nome':'macarrão','preco':2.99},
    {'nome':'vinagre','preco':2.25},
    {'nome':'pimenta','preco':1.27},
    {'nome':'batata','preco':5.67},
    {'nome':'leite','preco':12},
    {'nome':'manteiga','preco':7.99},
    {'nome':'margarina','preco':2.5},
    {'nome':'cenoura','preco':3.55},
    {'nome':'sabão','preco':4.79},
    {'nome':'chá','preco':3.45},
    {'nome':'morango','preco':17.8},
    {'nome':'soja','preco':20.2},
    {'nome':'goiaba','preco':3.45},
    {'nome':'melão','preco':5.12},
]
```

In [5]:
lista_compras=[
    {'nome':'feijão','preco':9.79},
    {'nome':'arroz','preco':3.45},
    {'nome':'carne','preco':20.93},
    {'nome':'macarrão','preco':2.99},
    {'nome':'vinagre','preco':2.25},
    {'nome':'pimenta','preco':1.27},
    {'nome':'batata','preco':5.67},
    {'nome':'leite','preco':12},
    {'nome':'manteiga','preco':7.99},
    {'nome':'margarina','preco':2.5},
    {'nome':'cenoura','preco':3.55},
    {'nome':'sabão','preco':4.79},
    {'nome':'chá','preco':3.45},
    {'nome':'morango','preco':17.8},
    {'nome':'soja','preco':20.2},
    {'nome':'goiaba','preco':3.45},
    {'nome':'melão','preco':5.12},
]

produto_max=max(lista_compras,key=lambda produto:produto['preco'])
produto_min=min(lista_compras,key=lambda produto:produto['preco'])
print(f"Produto mais caro: {produto_max['nome'].title()} - R$ {produto_max['preco']:.2f}" )
print(f"Produto mais barato: {produto_min['nome'].title()} - R$ {produto_min['preco']:.2f}")

Produto mais caro: Carne - R$ 20.93
Produto mais barato: Pimenta - R$ 1.27

# Exercício 22

Escreva um programa que peça 5 números inteiros não-nulos ao usuário e mostre na tela o quadrado de cada número digitado.

In [25]:
lista = list()

for num in range(1,6):
  result = int(input('Digite um número não-nulo: '))
  if result != 0:
    lista.append(result)
  else:
    print('Número inválido!')
  if num == 5:
    for x in lista:
      print(f'O quadrado de {x} é {x**2}')

Digite um número não-nulo: 2
Digite um número não-nulo: 3
Digite um número não-nulo: 4
Digite um número não-nulo: 5
Digite um número não-nulo: 6
O quadrado de 2 é 4
O quadrado de 3 é 9
O quadrado de 4 é 16
O quadrado de 5 é 25
O quadrado de 6 é 36

# Exercício 23

Considere um número inteiro positivo n especificado pelo usuário. Elabore um programa que calcule e mostre na tela:

A soma dos n primeiros números inteiros não-nulos (1+2+3+ ... +n) ;

A soma dos n primeiros números pares;

A soma dos n primeiros números ímpares.

In [27]:
num=int(input('Digite um número inteiro positivo: '))
soma=0
soma_par=0
soma_impar=0
 
if num>0: 
    for i in range(1,num+1):
        soma+=i 
        if i%2==0: 
            soma_par+=i  
        if i%2!=0:  
            soma_impar+=i  
            
        if i==num:  
            print(f'Soma total: {soma}')
            print(f'Soma dos números pares: {soma_par}')
            print(f'Soma dos números ímpares: {soma_impar}')
else:  
    print('O valor inserido não é válido.')

Digite um número inteiro positivo: 500
Soma total: 125250
Soma dos números pares: 62750
Soma dos números ímpares: 62500

## Exercício 24

Escreva um programa para checar se um determinado número é primo ou não.

Lembrete: um número primo pode ser dividido por apenas dois números, quais sejam: ele mesmo e o número um.



2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89 e 97  (Números primos entre 1 e 100)

In [53]:
n = int(input('Digite um número: '))

result1 = n%2 

if result1!=0 or n==2 or n==1:
  print(f'O número {n} é um número primo')
else:
  print(f'O número {n} não é um número primo')

Digite um número: 87
O número 87 é um número primo

## Exercício 25

Elabore um programa para imprimir todos os números primos existentes em um intervalo delimitado pelo usuário.