# Exercício 1

Elabore uma função que retorne a soma de dois números.

In [ ]:
def soma(x,y):
  return x+y

soma(3,2)

5

# Exercício 2

Escreva uma função que retorne a área de um retângulo. A sua função deve receber a base e a altura como parâmetros. Lembre que a área de um retângulo é dada pela fórmula: A=base x altura .

In [ ]:
def area_ret(b,a):
  return b*a

valor_base = int(input('Digite o valor da base do retângulo: '))
valor_altura = int(input('Digite o valor da base do retângulo: '))

area_ret(valor_base,valor_altura)

Digite o valor da base do retângulo: 2
Digite o valor da base do retângulo: 3

6

# Exercício 3

Escreva uma função que retorne a área de um triângulo. A sua função deve receber como parâmetros a base e a altura. Lembre que a área de um triângulo é dada pela fórmula: A=(base x altura)/2

In [ ]:
def area_tri(b,a):
  return (b*a)/2

valor_base = int(input('Digite o valor da base do retângulo: '))
valor_altura = int(input('Digite o valor da base do retângulo: '))

area_tri(valor_base,valor_altura)

Digite o valor da base do retângulo: 4
Digite o valor da base do retângulo: 7

14.0

# Exercício 4

Escreva uma função que verifique se um número é múltiplo do outro e retorne um valor lógico.

In [ ]:
def mult_ou_n(n1,n2):
  if n1 % n2 == 0:
    return True
  else:
    return False

mult_ou_n(8,2)

True

# Exercício 5

Escreva um programa que pesquise um determinado valor em uma lista. Sua função deve ter como parâmetros a lista e o valor a ser verificado. Caso o valor faça parte da lista informada retorne True e False, caso contrário.

In [ ]:
def search_list(search_l,num):
  for item in search_l:
    if num in search_l:
      return True
    else:
      return False




search_list([1,2,3,4,5,6,7,8,9,10],1.0)

True

# Exercício 6

Escreva uma função para checar se um determinado ano é bissexto.

In [ ]:
def bissexto_or_n(year):
  if year % 4 == 0 and (year % 100 == 0 and year % 400 == 0):
    return True
  else:
    return False

bissexto_or_n(1700)

False

# Exercício 7

Elabore uma função que receba um número inteiro e retorne o fatorial deste número.

In [ ]:
import math  

def fact(num):
  return math.factorial(num)

fact(5)

120

# Exercício 8

Implemente uma função recursiva para calcular e retornar o fatorial de um número inteiro.

In [ ]:
def fact_rec(num):
    if num==1 or num==0:
        return num
    else:
        return fact_rec(num-1)*num


fact_rec(5)

120

# Exercício 9

Implemente uma função recursiva para imprimir o n-ésimo termo da sequência Fibonacci.

In [ ]:
def fibonacci_(n):
    if n<=1:
        return n
    else:
        return fibonacci_(n-1)+fibonacci_(n-2)

fibonacci_(7)

13

# Exercício 10

Escreva uma função que receba uma lista de números reais como parâmetro e retorne a média destes números.

In [ ]:
from statistics import mean


def mean_list_num(lis):
  lis1 = []
  for num in lis:
    lis1.append(num)
  return mean(lis1)

def mean_list_num(lis):
  lis1 = [num for num in lis]
  return mean(lis1)

mean_list_num([1,2,3,4,5,6,7,8])

4.5

# Exercício 11

Escreva uma função que retorna o tamanho de uma string.

In [ ]:
def tamanho_str(_str):
  lista_str = [letra for letra in _str]
  return len(lista_str)



total = tamanho_str('teste2');
print(total)

6

# Exercício 12

Escreva uma função para checar se uma lista é vazia ou não.

In [ ]:
def lista_vazia_ou_n(lista):
  if len(lista) > 0:
    return 'LISTA NÃO É VAZIA'
  else:
    return 'LISTA VAZIA'

lista_vazia_ou_n([])

'LISTA VAZIA'

# Exercício 13

Escreva uma função que faça uma cópia de uma lista.

In [ ]:
def copy_list(lista):
  return lista.copy()

lista = [1,2,3]
lista2 = copy_list(lista)

lista2.append(9)

print(lista, lista2)

[1, 2, 3] [1, 2, 3, 9]

# Exercício 14

Escreva uma função que verifique se duas listas possuem ao menos um elemento em comum, retornando True em caso positivo.

In [ ]:
def percorre_listas(lista1,lista2):
  if [item for item in lista1 if item in lista2]:
    return True
  else:
    return False

lista_1 = [1,2,3]
lista_2 = [0,9,10,5]

percorre_listas(lista_1,lista_2)

False

# Exercício 15

Escreva uma função lambda associada a uma variável que some os argumentos x,y,z,k. Teste um resultado na tela.

In [ ]:
soma_quatro_var = lambda x,y,z,k:x+y+z+k

print(soma_quatro_var(2,3,4,5))

14

# Exercício 16

Escreva uma função lambda que multiplique os argumentos x,y,z. Teste um resultado na tela.

In [ ]:
multi = lambda x,y,z:x*y*z
print(multi(10,2,2))

40

# Funções integradas - Exercício 1

Considere a lista a seguir, com pares respectivos as capitais brasileiras e as temperaturas registradas para um determinado dia em 2020.

Use a função map() para converter as temperaturas de °C para K e F.

```

temperatura_capitais_brasil=[

    ('Boa Vista',32.4),

    ('Brasília',26.6),

    ('Campo Grande',28.8),

    ('Cuiabá',38.6),

    ('Salvador',37.1),

    ('São Paulo',38.8),

    ('Rio de Janeiro',34.7)

]

```

In [68]:
temperatura_capitais_brasil=[

    ('Boa Vista',32.4),

    ('Brasília',26.6),

    ('Campo Grande',28.8),

    ('Cuiabá',38.6),

    ('Salvador',37.1),

    ('São Paulo',38.8),

    ('Rio de Janeiro',34.7)

]

"""
#funções com for

def celsius_k(lista_c):
  lista = []
  for i,j in lista_c:
    lista.append((i,j+273))
  return lista

def celsius_f(lista_c):
  lista = []
  for i,j in lista_c:
    lista.append((i,1.8*j+32))
  return lista

converter_temp_k = celsius_k(temperatura_capitais_brasil)
converter_temp_f = celsius_f(temperatura_capitais_brasil)

print((converter_temp_k))
print((converter_temp_f))

"""

"""
#funções com comprehension list
def celsius_k(lista_c):
  return [(cidade,round((celsius+273),2)) for cidade,celsius in lista_c]

def celsius_f(lista_c):
  return [(cidade,round((1.8*celsius)+32,2)) for cidade,celsius in lista_c]

converter_temp_k = celsius_k(temperatura_capitais_brasil)
converter_temp_f = celsius_f(temperatura_capitais_brasil)

print((converter_temp_k))
print((converter_temp_f))

"""

#funções com map() e lambda (funções anônimas)
celsius_k = list(map(lambda temp:(temp[0],round((temp[1]+273),2)),temperatura_capitais_brasil))
celsius_f = list(map(lambda temp:(temp[0],round(((temp[1]*1.8)+32),2)),temperatura_capitais_brasil))
print(celsius_k)
print(celsius_f)

[('Boa Vista', 305.4), ('Brasília', 299.6), ('Campo Grande', 301.8), ('Cuiabá', 311.6), ('Salvador', 310.1), ('São Paulo', 311.8), ('Rio de Janeiro', 307.7)]
[('Boa Vista', 90.32), ('Brasília', 79.88), ('Campo Grande', 83.84), ('Cuiabá', 101.48), ('Salvador', 98.78), ('São Paulo', 101.84), ('Rio de Janeiro', 94.46)]
[('Boa Vista', 305.4), ('Brasília', 299.6), ('Campo Grande', 301.8), ('Cuiabá', 311.6), ('Salvador', 310.1), ('São Paulo', 311.8), ('Rio de Janeiro', 307.7)]
[('Boa Vista', 90.32), ('Brasília', 79.88), ('Campo Grande', 83.84), ('Cuiabá', 101.48), ('Salvador', 98.78), ('São Paulo', 101.84), ('Rio de Janeiro', 94.46)]

# Funções integradas - Exercício 2

a) Utilize a função map() para criar uma lista com o quadrado de cada número par e o cubo de cada número ímpar. Considere o intervalo [1,20].



Output:


```
[(1, 1), (2, 4), (3, 27), (4, 16), (5, 125), (6, 36), (7, 343), (8, 64), (9, 729), (10, 100), (11, 1331), (12, 144), (13, 2197), (14, 196), (15, 3375), (16, 256), (17, 4913), (18, 324), (19, 6859), (20, 400)]
```




b) Utilize a função map() para criar uma lista com o os números divisíveis por 3 ou 5, no intervalo [1,50]. Se o número não for divisível calcule sua raiz quadrada.



Output:


```
[1.0, 1.41, 3, 2.0, 5, 6, 2.65, 2.83, 9]
```

In [94]:
lista = [(i,i**2) if i%2 == 0 else (i,i**3) for i in range(1,21) ]

print(lista)

lista2 = list(map(lambda x:(x,x**2) if x%2 == 0 else (x,x**3),range(1,21)))


print(lista2)

[(1, 1), (2, 4), (3, 27), (4, 16), (5, 125), (6, 36), (7, 343), (8, 64), (9, 729), (10, 100), (11, 1331), (12, 144), (13, 2197), (14, 196), (15, 3375), (16, 256), (17, 4913), (18, 324), (19, 6859), (20, 400)]
[(1, 1), (2, 4), (3, 27), (4, 16), (5, 125), (6, 36), (7, 343), (8, 64), (9, 729), (10, 100), (11, 1331), (12, 144), (13, 2197), (14, 196), (15, 3375), (16, 256), (17, 4913), (18, 324), (19, 6859), (20, 400)]

# Funções integradas - Exercício 3

Considere a lista nomes a seguir e responda:


```
nomes=['','Roberto Carlos','Tom Jobim','Jorge Amado','Machado de Assis','Zé Ramalho','Elba Ramalho','','',[],()]
```

a) obtenha uma nova lista sem os objetos vazios.

output:


```
['Roberto Carlos', 'Tom Jobim', 'Jorge Amado', 'Machado de Assis', 'Zé Ramalho', 'Elba Ramalho']
```

b) obtenha uma nova lista que tenha apenas os nomes com o sobrenome Ramalho.

output:


```
['Zé Ramalho', 'Elba Ramalho']
```

In [120]:
nomes=['','Roberto Carlos','Tom Jobim','Jorge Amado','Machado de Assis','Zé Ramalho','Elba Ramalho','','',[],()]

nomes2 = list(filter(lambda x:x if (len(x) > 0) else None,nomes))

print(nomes2)

nomes3 = list(filter(lambda nome: len(nome)> 0 and nome.split()[-1] == 'Ramalho',nomes))
print(nomes3)

['Roberto Carlos', 'Tom Jobim', 'Jorge Amado', 'Machado de Assis', 'Zé Ramalho', 'Elba Ramalho']
['Zé Ramalho', 'Elba Ramalho']

# Funções integradas - Exercício 4

Crie uma função que recebe um número e verifique se este é par. Posteriormente, use a função filter() para criar uma lista com todos os números pares de 1 a 50.



[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [123]:
def num_par(num):
  if num % 2 == 0:
    return num


lista = list(filter(num_par,range(1,51)))
print(lista)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

# Funções integradas - Exercício 5

Crie uma função que recebe um número e verifique se este é primo. Posteriormente, use a função filter() para criar uma lista com todos os números pares de 1 a 50.



```
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
```

In [158]:
def num_primo(num):
  if num > 1:
    for i in range(2,num):
      if num % i == 0:
        return False
    else:
      return True
  else:
    return False

lista = list(filter(num_primo,range(1,51)))
print(lista)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

# Funções integradas - Exercício 6

Use a função zip() para criar uma lista de tuplas. O primeiro elemento do par deve armazenar o índice da tupla, enquanto que seu segundo elemento é o índice ao cubo. Considere um intervalo de 1 a 20.

```
[(0, 1), (1, 4), (2, 9), (3, 16), (4, 25), (5, 36), (6, 49), (7, 64), (8, 81), (9, 100), (10, 121), (11, 144), (12, 169), (13, 196), (14, 225), (15, 256), (16, 289), (17, 324), (18, 361), (19, 400)]
```

In [166]:
lista = list(zip(range(0,21),[n**2 for n in range(1,21)]))
print(lista)

[(0, 1), (1, 4), (2, 9), (3, 16), (4, 25), (5, 36), (6, 49), (7, 64), (8, 81), (9, 100), (10, 121), (11, 144), (12, 169), (13, 196), (14, 225), (15, 256), (16, 289), (17, 324), (18, 361), (19, 400)]

# Funções integradas - Exercício 7

a) Use list() e zip() para criar uma nova lista de tuplas a partir da lista1 e lista2.

```
lista1=[1,2,3,4]
lista2=['Python','JavaScript','Java','HTML']
```

output:

```
[(1, 'Python'), (2, 'JavaScript'), (3, 'Java'), (4, 'HTML')]
```

b) Use list() e zip() para criar uma nova lista de tuplas a partir da lista1 e lista2.

```
lista1=[40,50,60,70,80]
lista2=[-4,2,0,50,1]
```

output:

```
[(40, -4), (50, 2), (60, 0), (70, 50), (80, 1)]
```

In [167]:
lista1=[1,2,3,4]
lista2=['Python','JavaScript','Java','HTML']

lista3 = list(zip(lista1,lista2))
print(lista3)

[(1, 'Python'), (2, 'JavaScript'), (3, 'Java'), (4, 'HTML')]

In [168]:
lista1=[40,50,60,70,80]
lista2=[-4,2,0,50,1]

lista3 = list(zip(lista1,lista2))
print(lista3)

[(40, -4), (50, 2), (60, 0), (70, 50), (80, 1)]

# Funções integradas - Exercício 8

Use list() e zip() para criar uma nova lista de tuplas com as listas a seguir.


```
paises=['Brasil','Brasil','Brasil','EUA','EUA','EUA','EUA']
estados=['São Paulo','Bahia','Rio de Janeiro','Alabama','Alabama','Alabama','Califórnia']
cidades=['São Paulo','Salvador','Rio de Janeiro','Birmingham','Huntsville','Mobile','Beverly Hills']
```


output:

```
[('Brasil', 'São Paulo', 'São Paulo'), ('Brasil', 'Bahia', 'Salvador'), ('Brasil', 'Rio de Janeiro', 'Rio de Janeiro'), ('EUA', 'Alabama', 'Birmingham'), ('EUA', 'Alabama', 'Huntsville'), ('EUA', 'Alabama', 'Mobile'), ('EUA', 'Califórnia', 'Beverly Hills')]
```

In [169]:
paises=['Brasil','Brasil','Brasil','EUA','EUA','EUA','EUA']
estados=['São Paulo','Bahia','Rio de Janeiro','Alabama','Alabama','Alabama','Califórnia']
cidades=['São Paulo','Salvador','Rio de Janeiro','Birmingham','Huntsville','Mobile','Beverly Hills']

lista = list(zip(paises,estados,cidades))
print(lista)

[('Brasil', 'São Paulo', 'São Paulo'), ('Brasil', 'Bahia', 'Salvador'), ('Brasil', 'Rio de Janeiro', 'Rio de Janeiro'), ('EUA', 'Alabama', 'Birmingham'), ('EUA', 'Alabama', 'Huntsville'), ('EUA', 'Alabama', 'Mobile'), ('EUA', 'Califórnia', 'Beverly Hills')]

# Funções integradas - Exercício 9

Converta as listas abaixo para um dicionário. Use dict() e zip().


```
chaves=['cidades_EUA','cidades_BR']
valores=[
    ['Nova Iorque','Houston','Boston','Detroit','Seattle'],
    ['Rio de Janeiro','São Paulo','Brasília','Goiânia','Recife']
        ]
```

Resultado esperado:

```
{
'cidades_EUA': ['Nova Iorque', 'Houston', 'Boston', 'Detroit', 'Seattle'], 
'cidades_BR': ['Rio de Janeiro', 'São Paulo', 'Brasília', 'Goiânia', 'Recife']
}
```

In [181]:
chaves=['cidades_EUA','cidades_BR']
valores=[
    ['Nova Iorque','Houston','Boston','Detroit','Seattle'],
    ['Rio de Janeiro','São Paulo','Brasília','Goiânia','Recife']
        ]

lista = list((zip(chaves,valores)))
lista2 = dict(lista)
print(lista)
print(lista2)

[('cidades_EUA', ['Nova Iorque', 'Houston', 'Boston', 'Detroit', 'Seattle']), ('cidades_BR', ['Rio de Janeiro', 'São Paulo', 'Brasília', 'Goiânia', 'Recife'])]
{'cidades_EUA': ['Nova Iorque', 'Houston', 'Boston', 'Detroit', 'Seattle'], 'cidades_BR': ['Rio de Janeiro', 'São Paulo', 'Brasília', 'Goiânia', 'Recife']}

# Funções integradas - Exercício 10

A partir das listas abaixo,

```

anos=list(range(2010,2020))
chaves=['Receita produto A','Receita produto B']
valores=[
    [1001.19,1500.55,857.94,110.33,29.45,33.55,44.70,430,120,177],
    [20,33.5,91.4,4.5,111,230,900,801.2,101.4,202.6]
]
```

Obtenha:



a) um dicionário por meio das listas chaves e valores, use zip() e dict(). Resultado esperado:


```
{'Receita produto A': [1001.19, 1500.55, 857.94, 110.33, 29.45, 33.55, 44.7, 430, 120, 177], 'Receita produto B': [20, 33.5, 91.4, 4.5, 111, 230, 900, 801.2, 101.4, 202.6]}
```

b) construa um DataFrame com a biblioteca pandas a partir do dicionário criado, use o construtor DataFrame() e passe a lista anos com index. Resultado esperado:

![image.png]()


c) crie uma lista de tuplas que armazene a receita total dos produtos A e B por ano. Use Compreensão em Listas. Resultado esperado:
```
[(2010, 1021.19), (2011, 1534.05), (2012, 949.34), (2013, 114.83), (2014, 140.45), (2015, 263.55), (2016, 944.7), (2017, 1231.2), (2018, 221.4), (2019, 379.6)]
```

In [190]:
import pandas as pd

anos=list(range(2010,2020))
chaves=['Receita produto A','Receita produto B']
valores=[
    [1001.19,1500.55,857.94,110.33,29.45,33.55,44.70,430,120,177],
    [20,33.5,91.4,4.5,111,230,900,801.2,101.4,202.6]
]

lista_zip = list(zip(chaves,valores))
lista_dicio = dict(lista_zip)

df = pd.DataFrame(lista_dicio, index=anos)
print(df)

      Receita produto A  Receita produto B
2010            1001.19               20.0
2011            1500.55               33.5
2012             857.94               91.4
2013             110.33                4.5
2014              29.45              111.0
2015              33.55              230.0
2016              44.70              900.0
2017             430.00              801.2
2018             120.00              101.4
2019             177.00              202.6

# Funções integradas - Exercício 11

Considere a expressão a seguir.

![image.png]()

Use uma função integrada para encontrar o resultado desta expressão, quando o valor de x é 10. Resultado esperado: 1264.

Dica: use a função eval().

In [193]:
x = 10;

eval('(x**3)+(x**2)+(10*x)-(x)+(4)')

1194

#Funções integradas - Exercício 12

Considere as variáveis


```
var1=['Hello World!']
var2=True and all([True or False,()])
var3=('10',) if 10>4 else 1
var4=('Hello World!')
var5=('Python is love!',)
```

a) Verifique e imprima o tipo destas variáveis na tela.

```
['Hello World!'] <class 'list'>
False <class 'bool'>
('10',) <class 'tuple'>
Hello World! <class 'str'>
('Python is love!',) <class 'tuple'>
```
b) Verifique se essas variáveis são objetos do tipo tupla, isto é, instâncias da classe tupla.

```
['Hello World!'] Não é uma tupla
False Não é uma tupla
('10',) É uma tupla!
Hello World! Não é uma tupla
('Python is love!',) É uma tupla!
```

In [203]:
var1=['Hello World!']
var2=True and all([True or False,()])
var3=('10',) if 10>4 else 1
var4=('Hello World!')
var5=('Python is love!',)

var_list = [var1,var2,var3,var4,var5]

for i in var_list:
  print(i,type(i))

for i in var_list:
  if isinstance(i,tuple):
    print(f'{i} É uma tupla')
  else:
    print(f'{i} Não é uma tupla')

['Hello World!'] <class 'list'>
False <class 'bool'>
('10',) <class 'tuple'>
Hello World! <class 'str'>
('Python is love!',) <class 'tuple'>
['Hello World!'] Não é uma tupla
False Não é uma tupla
('10',) É uma tupla
Hello World! Não é uma tupla
('Python is love!',) É uma tupla

# Funções integradas - Exercício 13

Use a string 'Python is love!' e mostre na tela a letra e o índice correspondente. Implemente um loop for e use a função enumerate().


```
0 P
1 y
2 t
3 h
4 o
5 n
6  
7 i
8 s
9  
10 l
11 o
12 v
13 e
14 !
```

In [208]:
phrase = 'Python is love!'

for i in phrase:
  print(phrase.index(i),i)

for k,v in enumerate(phrase):
  print(k,v)

0 P
1 y
2 t
3 h
4 o
5 n
6
7 i
8 s
9
10 l
11 o
12 v
13 e
14 !