#Exercício 1

Elabore um script que crie um banco de dados denominado estoque.db, usando SQLite3. A tabela ESTOQUE criada deve armazenar as seguintes informações: nome, preço e quantidade.

Lembrete, para criar uma tabela usando SQL:

```
CREATE TABLE NOME (
    COLUNA1 datatype,
    COLUNA2 datatype,
    COLUNA3 datatype,
    COLUNA4 datatype,
    ...
    COLUNAn datatype
 
)
```

In [15]:
import sqlite3

# cria a conexão
conexao = sqlite3.connect('estoque.db')

# cria o objeto cursor para usar os comandos sql
cursor = conexao.cursor()

# deleta a tabela ESTOQUE caso já exista
cursor.execute('DROP TABLE IF EXISTS ESTOQUE')

# cria a tabela
sql = """CREATE TABLE ESTOQUE(
    NOME TEXT,
    PRECO FLOAT,
    QUANTIDADE INT
    )"""
cursor.execute(sql)

# valida as alterações feitas
conexao.commit()

# lê a tabela
cursor.execute("SELECT * FROM ESTOQUE")
print(cursor.fetchall())

# fecha a conexão
conexao.close()

[]

# Exercício 2
Elabore um script que crie um banco de dados denominado cliente.db, usando SQLite3. A tabela CLIENTE criada deve armazenar as seguintes informações: id, nome, sobrenome, idade, peso, sexo e renda.





Lembrete, para criar uma tabela usando SQL:


```
CREATE TABLE NOME (
    COLUNA1 datatype,
    COLUNA2 datatype,
    COLUNA3 datatype,
    COLUNA4 datatype,
    ...
    COLUNAn datatype
 
)
```

In [16]:
  import sqlite3

  # cria a conexão
  conexao = sqlite3.connect('cliente.db')

  # cria o objeto cursor para usar os comandos sql
  cursor = conexao.cursor()

  # deleta a tabela CLIENTE caso já exista
  cursor.execute('DROP TABLE IF EXISTS CLIENTE')

  # cria a tabela
  sql = """CREATE TABLE CLIENTE(
      ID INT,
      NOME TEXT,
      SOBRENOME TEXT,
      IDADE INT,
      PESO FLOAT,
      SEXO TEXT,
      RENDA FLOAT
      )"""
  cursor.execute(sql)

  # valida as alterações feitas
  conexao.commit()

  # lê a tabela
  cursor.execute("SELECT * FROM CLIENTE")
  print(cursor.fetchall())

  # fecha a conexão
  conexao.close()

[]

# Exercício 3
Adicione dois produtos na tabela ESTOQUE criada no exercício 1.



Lembrete:


```
INSERT INTO NOME_TABELA (coluna1, coluna2, coluna3,..., colunaN)
   VALUES (valor1, valor2, valor3,..., valorN);
```

In [17]:
import sqlite3

# cria a conexão
conexao = sqlite3.connect('estoque.db')

# cria o objeto cursor para usar os comandos sql
cursor = conexao.cursor()

# deleta a tabela ESTOQUE caso já exista
cursor.execute('DROP TABLE IF EXISTS ESTOQUE')

# cria a tabela
sql = """CREATE TABLE ESTOQUE(
    NOME TEXT,
    PRECO FLOAT,
    QUANTIDADE INT
    )"""
cursor.execute(sql)

# insere os registros
reg1 = """INSERT INTO ESTOQUE
    VALUES 
    ('WHEY CHOCOLATE', 90.0, 5),
    ('CREATINA', 70.0, 15),
    ('PASTA DE AMENDOIM', 32.5, 27)
    """
cursor.execute(reg1)

# valida as alterações feitas
conexao.commit()

# lê a tabela
cursor.execute("SELECT * FROM ESTOQUE")
print(cursor.fetchall())

# fecha a conexão
conexao.close()

[('WHEY CHOCOLATE', 90.0, 5), ('CREATINA', 70.0, 15), ('PASTA DE AMENDOIM', 32.5, 27)]

# Exercício 4
Adicione 3 registros na tabela CLIENTE criada no exercício 2.

Lembrete:


```
INSERT INTO NOME_TABELA (coluna1, coluna2, coluna3,..., colunaN)   VALUES (valor1, valor2, valor3,..., valorN);
```

In [18]:
import sqlite3

# cria a conexão
conexao = sqlite3.connect('cliente.db')

# cria o objeto cursor para usar os comandos sql
cursor = conexao.cursor()

# deleta a tabela CLIENTE caso já exista
cursor.execute('DROP TABLE IF EXISTS CLIENTE')

# cria a tabela
sql = """CREATE TABLE CLIENTE(
    ID INT,
    NOME TEXT,
    SOBRENOME TEXT,
    IDADE INT,
    PESO FLOAT,
    SEXO TEXT,
    RENDA FLOAT
    )"""
cursor.execute(sql)

# insere os registros
reg1 = """INSERT INTO CLIENTE
    VALUES 
    (1, 'James Marshall', 'Hendrix', 27, 67, 'M', 2500.0),
    (2,'James Paul', 'McCartney', 22, 65, 'M', 3000.53),
    (3,'Sister Rosetta', 'Tharpe', 25, 58, 'F', 5000.77)
    """
cursor.execute(reg1)

# valida as alterações feitas
conexao.commit()

# lê a tabela
cursor.execute("SELECT * FROM CLIENTE")
print(cursor.fetchall())

# fecha a conexão
conexao.close()

[(1, 'James Marshall', 'Hendrix', 27, 67.0, 'M', 2500.0), (2, 'James Paul', 'McCartney', 22, 65.0, 'M', 3000.53), (3, 'Sister Rosetta', 'Tharpe', 25, 58.0, 'F', 5000.77)]

# Exercício 5
Elabore um script que crie um banco de dados denominado dados_alunos.db, usando SQLite3. A tabela alunos criada deve armazenar as seguintes informações: id, nome, idade, telefone, profissão.

Em seguida:

1. adicione os registros da lista abaixo no banco de dados (use executemany());


```
dados = [('Yun', 29, '+00000000','Músico'),
         ('Chan', 37, '+00000000', 'Engenheiro Elétrico'),
         ('Ayumi', 41, '+00000000', 'Programador'),
         ('Hinata', 25, '+00000000', 'Professor')
        ]
```

2. mostre todos os registros na tela.

In [19]:
import sqlite3

# cria a conexão
conexao = sqlite3.connect('dado_alunos.db')

# cria o objeto cursor para usar os comandos sql
cursor = conexao.cursor()

# deleta a tabela ALUNOS caso já exista
cursor.execute('DROP TABLE IF EXISTS ALUNOS')

# cria a tabela
sql = """CREATE TABLE ALUNOS(
    ID INT,
    NOME TEXT,
    IDADE INT,
    TELEFONE TEXT,
    PROFISSAO TEXT
    )"""
cursor.execute(sql)

# insere os registros
reg1 = """INSERT INTO ALUNOS
    VALUES 
    (1, 'Yun', 29, '+00000000','Músico'),
    (2, 'Chan', 37, '+00000000', 'Engenheiro Elétrico'),
    (3, 'Ayumi', 41, '+00000000', 'Programador'),
    (4, 'Hinata', 25, '+00000000', 'Professor')
    """
cursor.execute(reg1)

# valida as alterações feitas
conexao.commit()

# lê a tabela
cursor.execute("SELECT * FROM ALUNOS")
print(cursor.fetchall())

# fecha a conexão
conexao.close()

[(1, 'Yun', 29, '+00000000', 'Músico'), (2, 'Chan', 37, '+00000000', 'Engenheiro Elétrico'), (3, 'Ayumi', 41, '+00000000', 'Programador'), (4, 'Hinata', 25, '+00000000', 'Professor')]